* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #829985;

}

nav,
.footer-container {
    margin: auto;
    max-width: 1440px;
    background-color: #829985;
    overflow: hidden;
    text-align: center;
    padding: 16px;
}

nav a,
.footer-container a {
    text-decoration: none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /*Нижнее подчёркивание при наведении*/
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 2s;
}

nav a:hover,
.footer-container a:hover {
    background-size: 100% 2px;
}

.burger,
.burgerNav {
    display: none;
}

.profile {
    max-width: 1440px;
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 14px solid #D7D1C9;
}

.photo img {
    height: 250px;
    width: 250px;
    border-radius: 150px;
    margin: 18px 25px 32px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    filter: grayscale(0.2) brightness(1.05);
}

.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #829985;
    font-size: 21.5px;
    font-weight: 100;
    line-height: 230%;
    letter-spacing: 2px;
}

.name h2 {
    font-size: 32px;
    font-weight: 100;
    color: #5c5c5c;
    line-height: 120%;
    letter-spacing: 10px;
}

.line {
    height: 2px;
    width: 70%;
    background-color: #829985;
    align-self: center;
}

.content {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#CONTACTS,
#SKILLS,
#PROJECTS,
#SUMMARY,
#CODE,
#EDUCATION {
    font-family: Arial, Helvetica, sans-serif;
    width: 49%;
    margin-bottom: 2%;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #672f2f;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

#PROJECTS,
#EDUCATION {
    border-bottom: none;
}

#CONTACTS h2,
#SKILLS h2,
#PROJECTS h2,
#SUMMARY h2,
#CODE h2,
#EDUCATION h2 {
    font-size: 20px;
    font-weight: 400;
    color: #829985;
    letter-spacing: 3px;
}

code {
    word-break: break-all;
    overflow: hidden;
}

ul {
    padding-left: 15px;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

li {
    margin-bottom: 15px;
}

li a {
    text-decoration: none;
    color: #829985;
}

li a:hover {
    color: #4d2323;
}

li::before {
    content: "";
    position: relative;
    display: inline-block;
    right: 10px;
    top: 5px;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-image: url("./img/6.svg");
}

.home-img::before {
    content: "";
    position: relative;
    display: inline-block;
    right: 10px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url("./img/1.svg");
}

.mail-img::before {
    content: "";
    position: relative;
    display: inline-block;
    right: 10px;
    width: 21px;
    height: 21px;
    background-size: 21px 21px;
    background-image: url("./img/2.svg");
}

.git-img::before {
    content: "";
    position: relative;
    display: inline-block;
    right: 10px;
    width: 19px;
    height: 19px;
    background-size: 19px 19px;
    background-image: url("./img/3.svg");
}

.tel-img::before {
    content: "";
    position: relative;
    display: inline-block;
    right: 10px;
    width: 21px;
    height: 21px;
    background-size: 21px 21px;
    background-image: url("./img/4.svg");
}

span {
    color: #829985;
}

footer {
    background-color: #829985;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rss a,
.rss {
    width: 121px;
    height: 45px;
    background-image: url("./img/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width:1445px) {
    main {
        padding: 0 20px;
    }
}

@media screen and (max-width: 926px) {
    .collapse {
        display: none;
    }

    .burger {
        display: block;
        float: right;
    }

    .menu {
        position: relative;
        /* background-image: url("./img/burger.png");*/
        height: 30px;
        width: 30px;
        border: none;
        outline: none;
        z-index: 9;
        background-color: #829985;
    }

    .collapse.open {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #829985;
        z-index: 1;
        padding-top: 10%;
        padding-bottom: 50%;
    }

    nav a {
        background-image: none;
    }
}

@media screen and (max-width: 768px) {
    .profile{
        flex-direction: column;
        height: 490px;
        justify-content: space-around;
        padding: 50px 30px 35px;
    }
    .photo img {
        height: 200px;
        width: 200px;
        border-radius: 150px;
        margin: 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        filter: grayscale(0.2) brightness(1.05);
    }
    .photo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .line{
        width: 50%;
    }

    #CONTACTS,
    #SKILLS,
    #PROJECTS,
    #SUMMARY,
    #CODE,
    #EDUCATION {
        width: 98%;
    }
    #PROJECTS{
        border-bottom: 1px solid #672f2f;
    }
}
@media screen and (max-width: 410px) {
    .name h2{
        font-size: 24px;
        letter-spacing: 4px;
    }
    .name{
        line-height: 210%;
    }
    .name p{
        margin-top: 19px;
    }
}